@import "tailwindcss";
@theme {
  --color-brand-dark: #020914;
  --color-brand-navy: #05152d;
  --color-brand-gold: #cca43b;
  --color-brand-gold-glow: rgba(204, 164, 59, 0.15);
}

html {
  scroll-behavior: smooth;
}

body {
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.92);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes growBar {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes progressLoad {
  from {
    width: 0%;
  }
}

.animate-fade-up {
  animation: fadeUp 0.8s cubic-bezier(0.22, 1, 0.36, 1) both;
}

.animate-fade-left {
  animation: fadeLeft 0.9s cubic-bezier(0.22, 1, 0.36, 1) both;
}

.animate-scale-in {
  animation: scaleIn 1s cubic-bezier(0.22, 1, 0.36, 1) both;
}

.animate-bar {
  animation: growBar 1s ease-out both;
}

.animate-progress {
  animation: progressLoad 1.4s ease-out both;
}

/* delays */

.delay-1 {
  animation-delay: 0.15s;
}

.delay-2 {
  animation-delay: 0.3s;
}

.delay-3 {
  animation-delay: 0.45s;
}

.delay-4 {
  animation-delay: 0.6s;
}

.delay-5 {
  animation-delay: 0.8s;
}
