@import "tailwindcss";
@theme {
  --color-brand-dark: #020914;
  --color-brand-navy: #05152d;
  --color-brand-gold: #cca43b;
  --color-brand-gold-glow: rgba(204, 164, 59, 0.15);
}

html {
  scroll-behavior: smooth;
}

body {
}

.hero-grid {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.08) 1px, transparent 1px);

  background-size: 40px 40px;
}
